.container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
form {
  padding: 1.5rem 3rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: min(400px, 95%);
}
form h2 {
  font-size: 2rem;
}
.add-ride-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0px;
}
.add-ride-detail label,
.add-ride-radio label {
  font-size: 0.9rem;
  color: white;
}
.add-ride-detail input,
.add-ride-detail select {
  font-size: 1rem;
  height: 40px;
  padding: 0px 0.5rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: 0px;
  border-bottom: 3px solid chartreuse;
}
.add-ride-detail option {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
}
.add-ride-radio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1.5rem 0px;
}
.add-ride-radio-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.submit {
  display: flex;
  justify-content: center;
  margin-top: 12px;
}
.submit button {
  height: 40px;
  padding: 0px 1rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  background: chartreuse;
}
.card {
  display: flex;
  flex-direction: column;
}
.card h2 {
  color: white;
  font-size: 2rem;
  margin-top: 0px;
}
.currentride {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  padding: 1rem;
  color: white;
  width: 300px;
}
.currentride p {
  color: white;
  font-size: 1rem;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  flex-wrap: wrap;
}
.currentride span {
  border-radius: 2px;
  font-size: 0.9rem;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
  border: 0px;
  padding: 0.25rem 0.5rem;
}
.currentride p a {
  font-size: 0.9rem;
  color: chartreuse;
  text-decoration: underline;
}
@media screen and (max-width: 600px) {
  form {
    padding: 10px 15px;
  }
  form h2 {
    font-size: 1.25rem;
  }
  .bookingdetails {
    margin: 12px;
    font-size: 0.7rem;
  }
  input,
  select {
    padding: 4px;
    margin: 9px;
    font-size: 0.7rem;
  }
  .submit button {
    padding: 7px;
    font-size: 0.7rem;
  }
  .card h2 {
    font-size: 1rem;
  }
  .currentride {
    padding: 15px 20px;
  }
  .currentride p {
    font-size: 0.7rem;
  }
  .currentride p a {
    font-size: 0.7rem;
  }
}
